@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Roboto&display=swap');

*{margin:0;
  padding:0;
  border:0;}

body{
    overflow:hidden;
}

nav{
    position:absolute;
    width:100%;
    top:4%;
    left:25%;
}

nav li
{
    display:inline-block;
}

h1
{
    color:white;
    font-size:90px;
    position:relative;
    font-family: 'Roboto', sans-serif;
    text-shadow:rgba(0,0,0,0.5) 0px 5px 15px;
}

span
{
    font-size:100px;
    font-family: 'Ephesis', cursive;
}

#background_img{
    width:100%;
    height:100%;
    opacity:0.5;
    position:absolute;
}

.menu{
    width:100%;
    margin-top:1rem;
    display:flex;
    align-items:center;
}

.menu li
{
    margin: 3rem 5rem;
    padding:1rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-shadow:rgba(0,0,0,0.8) 0px 5px 15px;
    transition: background-color 0.8s;
}

.menu li:hover
{
    border-radius:10px;
    background-color: #66BB6A;
}

